{% load static %}
<html lang="en">
    <head>
      <style>
          .alert{
    width: 25%;
    float: right;
    margin-top: -80px;
    padding: 20px;
    background-color: #f44336;
    opacity: .9;
    color: white;
  }
  
  .closebtn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
 
 .closebtn:hover{
   color: black;
 }

      </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome | Home</title>
        <script src="https://kit.fontawesome.com/4b5e7948e4.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    </head>
    <body>
        <section class="showcase">
            <div class="circle"></div>
        <header>
            <nav>
                <img id="logo" src="{% static 'img/cosmo_gangs-removebg-preview.png' %}" alt="logo">
                <ul>
                <li><a href="/home">Home</a></li>
              
                <li><a href="#box">Whats Happening?</a></li>
                {% if user.is_authenticated %}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Sign out</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Signup </a></li>
                {% endif %}

               </ul>
          </nav> 
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role= "alert" >
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          {{ message }}
              </div>
          {% endfor %}
          {% endif %}


          {% if form.errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                  <strong>{{ error }}</strong>
              </div>
            {% endfor %}
          {% endif %}
          
          <div class="dock">
          <div class="text">
            <h2>Sky Isn't the Limit !</h2>
            <h3>Welcome to the astronomy club</h3><br>
            <p>This is the all in one place for our astronomy club. <br>
                All Events of our club will be informed here.
                Hooray.. Lets explore
            </p>
            <a href="#">EXPLORE</a>
           </div>
           <div class="slidedown">
               <div class="note">
               <h2>Whats happening on Earth? </h2>
               <a href="#box"><h4>Scroll Down to see!</h4></a>
              </div>
              <div class="rocket">
                  <img src="{% static '/img/rocket.png' %}" alt="">
    
              </div>
           </div>
        </div>
           <video autoplay muted loop src="{% static 'videose/Untitled_1440p.mp4' %}"></video> 
            <div class="overlay"></div>
            </section>
            <section class=" box" id="box">
               <h1>Upcoming Events</h1>
               <div class="app">
                <div class="cardList">
                  <button class="cardList__btn btn btn--left">
                    <div class="icon">
                      <svg>
                        <use xlink:href="#arrow-left"></use>
                      </svg>
                    </div>
                  </button>
              
                  <div class="cards__wrapper">
                    <div class="card current--card">
                      <div class="card__image">
                       <a href="#"><img src="{% static 'img/1.jpg' %}" alt="" /></a>
                      </div>
                    </div>
              
                    <div class="card next--card">
                      <div class="card__image">
                        <a href="#"></a><img src="{% static 'img/2.jpg' %}" alt="" /></a>
                      </div>
                    </div>
              
                    <div class="card previous--card">
                      <div class="card__image">
                        <a href="#"><img src="{% static 'img/3.jpg' %}" alt="" /></a>
                      </div>
                    </div>
                  </div>
              
                  <button class="cardList__btn btn btn--right">
                    <div class="icon">
                      <svg>
                        <use xlink:href="#arrow-right"></use>
                      </svg>
                    </div>
                  </button>
                </div>
              
                <div class="infoList">
                  <div class="info__wrapper">
                    <div class="info current--info">
                      <h1 class="text name">Astronomy Webinar</h1>
                      <h4 class="text location">12/09/2021</h4>
                      <p class="text description">The Stars are calling</p>
                    </div>
              
                    <div class="info next--info">
                      <h1 class="text name">Workshop on Space</h1>
                      <h4 class="text location">18/08/2021</h4>
                      <p class="text description">Adventure is never far away</p>
                    </div>
              
                    <div class="info previous--info">
                      <h1 class="text name">Space truth</h1>
                      <h4 class="text location">08/09/2021</h4>
                      <p class="text description">Let your dreams come true</p>
                    </div>
                  </div>
                </div>
              
              
                <div class="app__bg">
                  <div class="app__bg__image current--image">
                    <img src="{% static 'img/bgm.jpg' %}" alt="" />
                  </div>
                  <div class="app__bg__image next--image">
                    <img src="{% static 'img/bgm.jpg' %}" alt="" />
                  </div>
                  <div class="app__bg__image previous--image">
                    <img src="{% static 'img/bgm.jpg' %}" alt="" />
                  </div>
                </div>
              </div>
              
              <div class="loading__wrapper">
                <div class="loader--text">Loading...</div>
                <div class="loader">
                  <span></span>
                </div>
              </div>
              
              
              <svg class="icons" style="display: none;">
                <symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
                  <polyline points='328 112 184 256 328 400'
                         style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
                </symbol>
                <symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
                  <polyline points='184 112 328 256 184 400'
                         style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
                </symbol>
              </svg>
        </section>    
      </header>
      <script type="text/javascript" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
      <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
    </html>
    
