{% load static %}
<html lang="en">
<head>
    <style>
    .alert {
    width: 90%;
    position: absolute;
    margin: 20px 20px;
    padding: 10px;
    background-color: #f44336;
    opacity: .9;
    color: white;
  }
  
    .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
    .closebtn:hover {
    color: black;
  }
  
  
  
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/4b5e7948e4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
              </ul>
            </div>
          </nav>
      </header>
        <div class="form-container sign-in-container">

          {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
          
            {% elif messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
        

          {% endif %}

            <form action="#" method="POST">
                {% csrf_token %}
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <input type="text" placeholder="username" id="username" name="username" required>
                <input type="password" placeholder="Password" id="password" name="password" required>

                <a href="#">Forgot Your Password?</a>
                <button type="submit">Sign in</button>
            </form>
         </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello Friends!</h1>
                    <p>
                        Enter your personal details and start journey with us
                    </p>
                    <a href="http://127.0.0.1:8000/register/">
                    <button class="ghost" id="SignUp" >Sign Up</button>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
    
</body>
</html>