<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://kit.fontawesome.com/4b5e7948e4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet"> 
    <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container ">
            <form action="#">
                <h1>Create Account</h1>
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Phone number">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <button>Sign up</button>
            </form>
         </div>
         <div class="overlay-container">
            <div class="overlay">
         <div class="overlay-panel overlay-right">
            <h1>Welcome Back</h1>
            <p>
                To keep connected with us, Please login with your personal info
            </p>
            <button class="ghost" id="SignIn" onclick="location.href='./login.html'">Sign In</button>
        </div>
    </div>
    </div>
</body>
</html>