{% load static %}
<html lang="en">
<head>
    <style>
        .alert {
    width: 90%;
    position: absolute;
    margin: 20px 20px;
    padding: 10px;
    background-color: #f44336;
    opacity: .9;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://kit.fontawesome.com/4b5e7948e4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   
    
    <div class="container" id="container">
        <div class="form-container ">

            

              {% if form.errors %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <strong>{{ error }}</strong>
                </div>
              {% endfor %}
             {% endif %}

            <form action="#" method="POST">
                {% csrf_token %}
                <h1>Create Account</h1>
                <input type="text" placeholder="username" id ="username" name="username" required>
                <input type="text" placeholder="First Name" id="firstname" name="firstname" required>
                <input type="text" placeholder="Last Name" id="lastname" name="lastname" required>
                <input type="email" placeholder="Email" id="email" name="email" required> 
                <input type="password" placeholder="Password" id="password1" name="password1" required>
                <input type="password" placeholder="Confirm Password" id="password2" name="password2" required>
                <button type="submit">Sign up</button>
            </form>
         </div>
         <div class="overlay-container">
            <div class="overlay">
         <div class="overlay-panel overlay-right">
            <h1>Welcome Back</h1>
            <p>
                To keep connected with us, Please login with your personal info
            </p>
            <a href="/login/">
            <button class="ghost" id="SignIn" >Sign In</button>
            </a>
        </div>
    </div>
    </div>
</body>
</html>

